FLASK_APP=/code/app/main.py
STEP1_FILE_URL=https://files.maggi.cc/f/c0f26d91f91840828969/?dl=1
FLAG1=CH4nG3Me
FLAG2=Label3dG00dneSs
FLAG3=Unl3cked01
PAYLOAD=Ich4ng3d
TX_DELAY=2000
TX_REPEAT=20
RX_TIMEOUT=10000
