{% extends "index.html" %}

{% block col %}
{{ super() }}

<h2>Fine!</h2>
<p>Ottimo lavoro!</p>

<p>A questo punto devi inviare via email le soluzioni di tutti i passi a
    federico [at] maggi [dot] cc</p>

<p>Tutto il codice usato per questo gioco sarà disponibile ai link di seguito:</p>
<ul>
    <li><a href="https://github.com/phretor/mcts-hib19win-webapp">questa applicazione web</a>,</li>
    <li><a href="https://github.com/phretor/mcts-hib19win-radio">il firmware e le istruzioni per preparare il trasmettitore</a>.</li>
</ul>

<p>Se ti è piaciuto, modificalo e/o riproponilo al tuo evento o in aula: anche
    se non c'è nessun obbligo, ci fa piacere se ci citi!</p>

<p><strong>Curiosità:</strong> questo contest è una versione semplificata del
    <a href="https://trendmicro.com/cts/">Capture the Signal</a>.</p>
{% endblock %}
