{% extends "index.html" %}

{% block col %}
{{ super() }}

<h2>Livello 2</h2>

<p><strong>Update!</strong> Per passare al livello successivo devi metterti
    vicino alla sorgente della trasmissione: è un piccolo trasmettitore
    nascosto in uno dei quattro angoli di questa stanza.</p>

<p>Per passare al livello successivo devi decodificare il segnale che sta
trasmettendo periodicamente ogni {{interval}} secondi,  per trovare l'ID di
{{id_len}} caratteri ASCII nascosto dentro.</p>

<form method="post">
    <input class="u-full-width" type="text" placeholder="ID" id="flag" name="flag">
    <input class="button-primary" type="submit" value="Conferma">
    <input type="hidden" name="step" value="step2">
    {% if submitted %}
    <p><strong style="text-color: red;">Mi spiace, ma non è corretto!</strong></p>
    {% endif %}
</form>
{% endblock %}
