{% extends "index.html" %}

{% block col %}
{{ super() }}

<h2>Livello 4</h2>
<p>Ottimo lavoro!</p>

<p>Devi sapere che il trasmettitore che hai trovato è anche un ricevitore: se
    gli mandi il messaggio giusto, ti risponde con l'ultimo "segreto" che ti
    serve per completare il gioco.</p>

<p><strong>Leggi bene:</strong> Per fare questo devi trasmettere un segnale
    identico (stessa frequenza, banda, modulazione) a quello che hai ricevuto,
    cambiando però il campo dati, sostituendo l'ID che trasmette con
        <code>{{ payload }}</code>, ottenendo un messaggio della <strong>stessa
            lunghezza (è importante!)</strong>.</p>

<p>Se il pacchetto così generato e trasmesso verrà accettato, dopo {{tx_delay}} secondi
    il trasmettitore trasmetterà un altro segnale per {{tx_repeat}} volte
    consecutive, che conterrà il segreto che sai cercando.</p>

<p><strong>Attenzione:</strong> Le trasmissioni sono visibili a tutti, quindi
    una volta che avrai preparato il pacchetto da inviare, stai pronto a
    ricevere dopo pochi istanti, perché tutti potranno ricevere contemporaneamente!</p>

<form method="post">
    <input class="u-full-width" type="text" placeholder="Ultimo segreto" id="flag" name="flag">
    <input class="button-primary" type="submit" value="Conferma">
    <input type="hidden" name="step" value="step4">
    {% if submitted %}
    <p><strong style="text-color: red;">Mi spiace, ma non è corretto!</strong></p>
    {% endif %}
</form>
{% endblock %}
